body {
    margin: 80px;
    background-color: rgb(254, 255, 255);
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(190, 185, 185);
}

#heading-txt {
    color: rgb(92, 92, 92);
    text-align: center;
}

.container div {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.container input {
    height: 40px;
}

p {
    margin: 0px;
    line-height: 28px;
    border: solid 1px grey;
    border-top: none;
    padding-left: 10px;
}

#swap-img {
    display: block;
}